/* Global css goes here */

.header-region {
  text-align: center;
}

/* Title and logo styling */
.ui-header .ui-title {
  font-size: 1em;
  margin: 0;
  padding:0;
  padding-top:.5em;
  text-align: center;
}
.ui-header .ui-title a {
  font-size: 1em;
  text-decoration: none;
}
/* Hide logo on small viewports */
#logo {
  display: none;
}
.ui-dialog .ui-title {
  padding-top: .5em;
}

/*
 Override jquery Mobile setting
 for title that adds 30% left and right side margins
 2em is enough to clear the panel icons on the sides
*/
.ui-header .ui-title,
.ui-footer .ui-title {
  margin: 0 2em !important;
}
/* Use large title on wide viewports */
@media all and (min-width: 50em) {
  #logo {
    display: block;
  }
  .ui-header .ui-title {
    font-size: 1.5em;
  }
  .ui-header .ui-title a {
    font-size: 1.5em;
  }
}

/* Footer styling */
.ui-footer {
  text-align: center;
  min-height: 3em;
}
.ui-footer a {
  text-decoration: none;
}
.region-footer {
  margin-top: .5em;
}

/* Hide underlines on heading anchors */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

.tabs.primary a {
  padding: 1em;
}
.tabs.secondary a {
  padding: .5em;
}

table {
  width: 100%;
}
.region-title {
  font-weight: bold;
  font-size: larger;
}
.region-content {
  margin-top: 1em;
}

ul.links ul,
.views-element-container ul {
  padding: 0;
}
ul.links li {
  display:inline-block;
}
ul.links a,
.more-link a {
  text-decoration: none;
}

@media all and (min-width: 50em) {

  /*
     Transparent dialog background on deskptop
     from tqclarkson.com/2012/04/19/transparent-jquery-mobile-dialogs/
  */
  .ui-dialog-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0.5s ease-in;
  }
  .ui-dialog-background.pop.in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
  }

  /* Make dialogs expand to fit desktop widths better. */
  .ui-dialog-contain {
    max-width: 66%;
  }
  .ui-dialog {
    min-height: 100% !important;
    width: 100% !important;
    background: transparent !important;
  }
}

div[aria-label="Status message"] {
  padding: .5em;
  margin: .5em 0;
  border: 1px solid #dedede;
  background-color: #ffffe0;
}
