{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb and breadcrumb|length > 1 %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% for item in breadcrumb %}
      <span class="breadcrumb-item">
        {% if item.url %}
         &raquo; <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
         &raquo; {{ item.text }}
        {% endif %}
      </span>
    {% endfor %}
  </nav>
{% endif %}
